<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/items/add">Add item</a> | 
			<a href="/items">Items list</a>
		</div>	
		<h1><%= title %></h1>
    </body>
</html>